name: ci

on:
  push:
    branches: main

jobs:
  elixir-build:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && contains(toJson(github.event.commits), '***NO_CI***') == false && contains(toJson(github.event.commits), '[ci skip]') == false && contains(toJson(github.event.commits), '[skip ci]') == false
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      -
        name: Adjust Dockerfiles
        run: |
          bin/render-dockerfiles
      -
        name: Build and push Erlang
        if: github.event_name == 'push' && contains(toJson(github.event.commits), 'with-erlang') == true
        run: |
          cd erlang
          make build
          make release

      -
        name: Build and push Elixir
        if: github.event_name == 'push' && contains(toJson(github.event.commits), 'with-elixir') == true
        run: |
          cd elixir
          make build
          make release

      -
        name: Build and push Phoenix
        if: github.event_name == 'push' && contains(toJson(github.event.commits), 'with-phoenix') == true
        run: |
          cd phoenix
          make build
          make release
